.red-dot{
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.green-dot{
  height: 25px;
  width: 25px;
  background-color: lawngreen;
  border-radius: 50%;
  display: inline-block;
}

.inline-table{
	display: inline-table;
}

.form-display-none{
	display: none;
}

label.upload {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 2px;
    cursor: pointer;
}

input.upload {
    display: none;
}
